.aboutContainer {
    height: 50vh;
    padding: 3vh;
    background-color: #FFF;
}

.twoStories {
    display: flex;
    padding: 5%;
}

.music,  .tech{
    display: flex;
    flex-direction: column;
    align-items: center;
}