.aboutContainer {
    height: 50vh;
    padding: 3vh;
    background-color: #FFF;
}

#aboutAnchor {
    padding-top: 15vh;
}

.story {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;
    gap: 5vh;
}

.techContainer {
    margin-top: 2vh;
    gap: 10vw;
}

.tech {
    width: 10vw;
}

@media only screen and (max-width: 768px) {
    .techContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8vw;
    }
}