.header {
    text-align: center;
    padding-bottom: 2vh;
}

.footerContainer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 3vh 0;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.externalLink {
    height: 50px;
}