.projectsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
    height: auto;
    background-color: #DDD;
    padding: 10vh 0;
}

#projectsAnchor {
    padding-top: 15vh;
    background-color: #DDD;
    text-align: center;
}

.projectLink {
    border: 1px solid black;
    padding: 5px;
    margin: 20px;
    box-shadow: 0px 3px 3px black;
    background-color: white;
    text-decoration: none;
    border-radius: 3px;
}

.projectCard{
    text-align: center;
    border: 1px solid black;
    box-shadow: -8px 8px 18px black;
    height: 300px;
    width: 400px;
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: black;
    color: white;
    position: relative
}

.projectCard > * {
    height: 100%; 
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.projectDescription {
    color:white;
    position: absolute;
    display: block;
    display: none;
}

.projectCard:hover > *:first-child {
    transform: scale(1.05);
    opacity: 0.2;
    filter:blur(3px);
}

.projectCard:hover .projectDescription{
    display: block;
    line-height: 2.5rem;
    align-content: center;
}

.projectLink:hover {
    background-color: darkgray;
    color: white
}

.projectInformation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1rem;
    margin-top: 1.5rem;
}

.projectAbout {
    width: 55%;
    padding-right: 2% 0;
    text-align: center;
}

.technologies {
    width: 35%;
    text-align: left;
    line-height: 1.5rem;
}